[client-server]
# Uncomment these if you want to use a nonstandard connection to MariaDB
socket=/var/lib/mysql/mysql.sock
port=3306

# This will be passed to all MariaDB clients
[client]
socket=/var/lib/mysql/mysql.sock
#protocol=tcp
#password=my_password

# The MariaDB server
[mysqld]
bind-address=0.0.0.0
skip-networking = false
# Directory where you want to put your data
datadir=/var/lib/mysql
#data=/usr/local/mysql/var
# Directory for the errmsg.sys file in the language you want to use
language=/usr/local/share/mysql/english

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
general-log
#log-slow-queries
[mariadb]
log_warnings=4
log_error=/var/lib/mysql/mariadb.err